 .header {
   color:black;
   margin-left: 40%;
 }

 .tlt {
   font-family: monospace;
   margin-left: 41%;
 }

 #emily {
   width: 60%;
   margin-left: 23%;
   border: solid;
   padding: 1px;
   border-color: black;
   
 }

 body {
   background-color: seashell;
 }

 .me {
   color: red;
   margin-left: 40%;
   font-family: sans-serif;
 }

 #photo {
   width: 20%;
   float: left;
 }

 .intro{
    margin-left: 31%;
    font-family: sans-serif;
 }

 .container {
   margin-left: 28%;
   font-family: 'Times New Roman', Times, serif;
 }

 #ED {
   margin-left: 15%;
   font-family: sans-serif;
 }

 #job {
   margin-left: 13%;
   font-family: sans-serif;
 }

 #why {
   margin-left: 10%;
   font-family: sans-serif;
 }

 .why {
   margin-left: 2%;
 }

 #interest {
    margin-left: 11%;
    font-family: sans-serif;
 }

 .interest {
    margin-left: 13%;
 }

 .port{
   color: Black;
   text-align: center;
 }

 .projects {
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
 }

 .vaca {
   text-align: center;
 }

 .animal {
   text-align: center;
 }

 .island {
    text-align: center;
 }
 
 .cupcake {
   text-align: center;
 }

 @media screen and (max-width:480px) and (min-width:300px) {
   body {
      background-color: cadetblue;
   }
 }

 @media screen and (max-width:1000px) and (min-width:700px) {
   body {
     background-color: #CCFFFF; 
   }
 }

