 .header {
   color:black;
   text-align: center;
 }

 .tlt {
   font-family: arial;
   text-align: center;
 }

 #emily {
   width: 60%;
   margin-left: 23%;
   border: solid;
   padding: 1px;
   border-color: black;
   opacity: 70%;
   
 }

 #me {
    color: antiquewhite;
    margin-left: 17%;

 } 

 #photo {
   width: 10%;
   float: left;
 }

 .intro{
   margin-left: 9%;
    font-family: sans-serif;
    color: white;
 }

 .front{
   color: antiquewhite;
 }

 .container {
  text-align: inherit;
  color: white;
   font-family: arial;
   font-size: large;
   opacity: 100%;
 }


 #ED {
   margin-left: 15%;
   font-family: sans-serif;
 }

 #job {
   margin-left: 13%;
   font-family: sans-serif;
 }

 #why {
   margin-left: 10%;
   font-family: sans-serif;
 }

 .why {
   margin-left: 2%;
 }

 #interest {
    margin-left: 11%;
    font-family: sans-serif;
 }

 .interest {
    margin-left: 13%;
 }

 .port{
   color: Black;
   text-align: center;
 }

 .projects {
   text-align: center;
   font-family: arial;
 }

 .vaca {
   text-align: center;
   color: black;
 }

 .animal {
   text-align: center;
 }

 .island {
    text-align: center;
 }
 
 .cupcake {
   text-align: center;
 }

 
a {
  color: black;
}

a:visited {
  color: purple;
}

a:hover {
  color: green;
}